.OrdersMain {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin: 0rem 3rem;
}

.heading1 {
    margin-top: 2rem;
    align-items: start;
    justify-content: center;
    display: flex;
    color: rgb(41, 94, 155);
}
