.gap {
    gap: 5px;
    padding: 5px;
    width: 80rem;
    background-color: #ececec;
    color: rgb(41, 94, 155);
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

form {
    gap: 12px;
    /* display: flex;
    justify-content: flex-end;
    align-items: end; */
}
h4 {
    margin-top: 5px;
}
.custom-modal {
    width: 10rem;
}
.gap {
    gap: 15px;
    /* border: 1px solid; */
    width: 80rem;
    background-color: #ececec;
    color: rgb(41, 94, 155);
    font-weight: bold;
}

form {
    gap: 12px;
    /* display: flex;
    justify-content: flex-end;
    align-items: end; */
}
h4 {
    margin-top: 5px;
}
.custom-modal {
    width: 10rem;
}
