.MainDash{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin: 1rem;
}
.heading1 {
    margin-top: 2rem;
    align-items: start;
    justify-content: center;
    display: flex;
  }
  .Card{
    border: 1px solid pink;
  }