.MainDash {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-evenly; */
    margin: 0.7rem 0rem;
}
.heading1 {
    margin-top: 2rem;
    align-items: start;
    justify-content: center;
    display: flex;
}

.chart-div {
    padding: 0rem 1.5rem;
}
.main-part {
    background-color: yellow;
    width: 56.5rem;
}

.right-part {
    background-color: pink;
}

.flex-container {
    display: flex;
}

.flex-item1 {
    width: 57rem;
    /* background-color: blue; */
}
