.MainDash {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin: 0.7rem 0rem;
}
.heading1 {
    margin-top: 2rem;
    align-items: start;
    justify-content: center;
    display: flex;
}

.chart-div {
    padding: 0rem 1rem;
}
